.contact{
    padding: 20px 0;
}
.contactbox{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.contactitems{
    display: flex;
    align-items: center;
    justify-content: center;
}
.inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contactbtn{
    background-color: #006600;
    color: white;
    margin-top: 10px;
    border: none;
    padding: 10px;
}
.contactbtn:hover{
    background-color: white;
    color: #006600;
}
.chatdetails svg{
    color: #006600;
}
.chatdetails h4,h6{
    color: black;
}
.chatdetails h6{
    color: black;
}
.officedetails svg{
    color: #006600;
}
.officedetails  h4{
    color: black;
}
.officedetails h6{
    color: black;
}
.calldetails svg{
    color: #006600;
}
.calldetails h4{
    color: black;
}
.calldetails h6{
    color: black;
}