.service{
    padding: 15px 20px;
    background-color: aliceblue;
    margin-top: 30px;
}
.servicecard{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}
.card{
    width: 250px;
    background-color: white;
    border-bottom: 5px solid #007FFF;
}
.servicepara{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}