.stepmain h1,p{
 width: 500px;
 padding: 10px;
}
.stepmain{
    margin-top: 200px;
}
.steptitle{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.stepname p{
    width: 420px;
}
.stepnumber{
    border: 1px solid black;
    padding: 15px 15px;
    position: relative;
}
.step{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.stepimgbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.step1, .step2{
    height: 200px;
    width: 150px;
}
.step1 img, .step2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
.step1{
    margin-bottom: 15px;
}
.stepimgbox2{
    margin-left: 20px;
    height: 200px;
    width: 150px;
}
.stepimgbox2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
.stepheader{
 display: flex;
 align-items: center;
 justify-content: center;
}
.stepparagraph{
    display: flex;
 align-items: center;
 justify-content: center; 
}
.stepnumber::after{
    content: "";
    position: absolute;
    width:2px;
    height: 80px;
    background-color: blue;
    right: 50%;
    bottom: -80px;
}
.stepnumber:last-child::after{
    content: "";
    position: absolute;
    width:2px;
    height: 50px;
    background-color: blue;
    right: 50%;
    bottom: -50px;
}